<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
        <div class="container">
            <a class="navbar-brand" href="./index.html">
                <img src="../static/images/logo_sertracen.svg" alt="logo" width="30%">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="./index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./sobre_nosotros.html">Sobre Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./creacion_cita.html">Citas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Sección Sobre Nosotros -->
    <div class="container my-5">
        <h2 class="fw-bold">Sobre nosotros</h2>
        <p>Bienvenidos a la página web de Servicios de Tránsito Centroamericanos S.A. de C.V. SERTRACEN - El Salvador: empresa encargada de la matrícula de vehículos automotores y de la emisión de licencias de conducir.</p>
        
        <p>En este sitio encontrará todo lo referente a requisitos y costos de trámites de vehículos y licencias, adicionalmente en la sección de consultas en línea podrá consultar el estado de su trámite, el costo de su refrenda anual de vehículos, si su licencia o su vehículo posee esquelas y otras consultas más.</p>
        
        <p>SERTRACEN El Salvador es una empresa certificada ISO 9001:2015, lo cual asegura a su cliente y usuarios en general, que la empresa cumple con los más altos estándares de calidad a nivel mundial.</p>

        <!-- Misión -->
        <h5 class="fw-bold mt-5 text-center" style="color:#003b86;">MISIÓN</h5>
        <p>Proporcionar soluciones innovadoras e integrales para el registro, procesamiento, control, administración de datos y expedientes, emisión de documentos seguros (Smart Card) y análisis e implementación de procesos de negocio, bajo tecnologías de la información y comunicación, para el sector público o privado, garantizando la confidencialidad y alta calidad en nuestras soluciones, satisfaciendo las necesidades y requerimientos de nuestros clientes y sus mercados.</p>

        <!-- Visión -->
        <h5 class="fw-bold mt-5 text-center" style="color:#003b86;">VISIÓN</h5>
        <p>Ser pioneros en soluciones integrales de registro, control y emisión de documentos seguros, adaptándonos al entorno y el desarrollo de nuevas tecnologías, interactuando con nuestros clientes y la evolución de sus necesidades.</p>

        <!-- Valores -->
        <h5 class="fw-bold mt-5 text-center" style="color:#003b86;">VALORES</h5>
        <ul>
            <li>Pasión por el trabajo</li>
            <li>Seguridad</li>
            <li>Respeto</li>
            <li>Innovación Tecnológica</li>
            <li>Integridad</li>
            <li>Responsabilidad</li>
            <li>Compromiso</li>
            <li>Mejora Continua</li>
        </ul>
    </div>

    

    <!-- Footer -->
    <footer class="text-white py-5" style="background-color: #003B86;">
        <div class="container">
            <h3 class="fw-bold" style="color: #FFCB00;">Horarios de atención</h3>
            <div class="row mt-4">
                <div class="col-md-6">
                    <h5 class="fw-bold">Lunes a Viernes</h5>
                    <p><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="me-2" width="2em" height="2em"><path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM13 12H17V14H11V7H13V12Z" ></path></svg></i> 9:00 a.m. - 5:00 p.m.</p>
                    <p class="semibold">Atención completa en todas las áreas: administrativa, atención al cliente y soporte técnico.</p>
                </div>
                <div class="col-md-6">
                    <h5 class="fw-bold">Sábado</h5>
                    <p><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="me-2" width="2em" height="2em"><path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM13 12H17V14H11V7H13V12Z"></path></svg></i> 9:00 a.m. - 1:00 p.m.</p>
                    <p class="semibold">Disponibilidad limitada en atención al cliente y soporte técnico.</p>
                </div>
            </div>
            <div class="text-center mt-4">
                <p class="mb-0">Sertracen</p>
                <p class="mb-0">&copy; 2024 - Todos los derechos reservados</p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>
